body {
  background-color: rgb(0, 208, 255);
}

.NBALogo{
  Display: flex;
  Height: 25vh;
  Width: 50vw; 
  Align-Items: center;
  justify-content: center;
}


.landingContainer{
  background: white;
  width: 50vw;
  height: 45vh;
  margin: 10em auto;
  border-radius: 15px;
  padding: 10px 15px;
  color: white;
  border: 3px solid rgb(36, 110, 194);
}

.WelcomeText{
  color: black;
  align-items: 'center';
  font-size: 37px;
  display: flex;
  Align-Items: center;
  justify-content: center;
  Height: 2vh;
  width: 50vw;
  margin-top: -30px;
}

.WelcomeMessage{
  color: black;
  text-align: center;
  word-wrap: break-all;
  max-width: 35vw;
  justify-content: center;
  align-items: center;
  padding-left: 8vw;
  font-size: 20px;
}

.ButtonContainer {
  display: flex;
  Align-Items: center;
  justify-content: center;
}

.PlayerStatsBody {
  width: 100vw;
  height: 100vh;
  padding: 10vh 10px;
}

input {
  width: 30vw;
  padding: 12px 20px;
  margin: 6px 10px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  font-size: 20px;
}

seasonInput {
  width: 5vw;
}

input[type=text]:focus {
  border: 3px solid #555;
}

.EntryFieldContainer {
  display: flex;
  Align-Items: center;
  justify-content: center;
  padding: 5px 15px;
}

.EntryFieldLabel {
  font-size: 28px;
}

.submitButton {
  color: white;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12.8px;
  font-size: 20px;
}

header {
  font-size: 55px;
  padding: 1.5vh;
  display: flex;
  Align-Items: center;
  justify-content: center;
  font-weight: bold;
}

.playerDescriptionContainer {
  background: white;
  width: 20vw;
  height: 20vh;
  margin: 2em auto;
  border-radius: 15px;
  padding: 1px 1px;
  color: white;
  border: 5px solid rgb(7, 14, 22);
  color: black;
  font-size: 18px;
}

.playerCardHeader {
  font-size: 28px;
  padding: 0.4vh;
  display: flex;
  Align-Items: center;
  justify-content: center;
  text-decoration: underline;
}

.playerCardStats {
  height: 12vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.playerStatsContainer {
  background: white;
  width: 80vw;
  height: 15vh;
  margin: 2em auto;
  border-radius: 15px;
  padding: 1px 1px;
  color: white;
  border: 3px solid rgb(12, 15, 18);
  color: black;
  font-size: 20px;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0.4vh;
  margin-left: 2vw;
}


th,
td {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-size: 20px;
  width: 10vw;
}

th {
  background-color: rgb(117, 201, 250);
  border: 1px solid black;
  overflow: hidden;
}

td {
  background-color: rgb(205, 235, 253);
  border: 1px solid black;
  overflow: hidden;
}

form td:last-child {
  display: flex;
  justify-content: space-evenly;
}

form * {
  font-size: 20px;
}

.returnButton {
  color: white;
  background: black;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 12.8px;
  font-size: 20px;
  margin-left: 0.8vw;
}